workflows/01 - Auto Document Indexing.json
{
  "name": "01 - Auto Document Indexing",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "302a8947-c79e-4140-bd5a-27400cfec68a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JYlan4n9WKS0HAE7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "company_files",
          "mode": "id"
        },
        "options": {
          "metadataPayloadKey": "metadata"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "e2cc4b27-8143-46a9-9bf8-668d72fd7cbd",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "srS61JVnlfmTdCon",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        208
      ],
      "id": "4d2e867b-9046-4f4d-a584-93c4ee7c2f7f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "eTa5CJ5mikRsAAb2",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Metadata",
                "value": "={   \"file_id\": \"{{ $('Prepare File Metadata').item.json.file_id }}\",   \"file_name\": \"{{ $('Prepare File Metadata').item.json.file_name }}\",   \"file_url\": \"{{ $('Prepare File Metadata').item.json.file_url }}\",   \"mime_type\": \"{{ $('Prepare File Metadata').item.json.mime_type }}\",   \"last_modified\": \"{{ $('Prepare File Metadata').item.json.last_modified }}\",   \"source\": \"google_drive\" }"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        608,
        208
      ],
      "id": "a31219fd-19b9-43d4-a2e9-72a2d226b468",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1U6hEemx3OzYZPa0Af30PYPItfOzYy1PW",
          "mode": "list",
          "cachedResultName": "Employee Knowledge Base",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1U6hEemx3OzYZPa0Af30PYPItfOzYy1PW"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        0
      ],
      "id": "dab08d71-4a42-4eb0-923e-84014fc6a29a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JYlan4n9WKS0HAE7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7905e3f3-ba30-4be5-b163-641d31ec72f6",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "44046cb3-a0de-4e5e-bd12-2a6717554e37",
              "name": "file_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "4a714a28-ae70-4a32-b6cd-29b4f2fcff2a",
              "name": "file_url",
              "value": "=https://drive.google.com/file/d/{{ $json.id }}/view",
              "type": "string"
            },
            {
              "id": "d97ad723-3ffb-4c9c-a4ee-0bc212d33ec9",
              "name": "mime_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "a8d53425-1fe8-4fdb-9461-efdc9a3b41f8",
              "name": "last_modified",
              "value": "={{ $json.modifiedTime }}",
              "type": "string"
            },
            {
              "id": "cabe2b96-563b-4269-86c0-67928acf2916",
              "name": "source",
              "value": "google_drive",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        144
      ],
      "id": "dc652110-6bec-4aba-8b70-140a5955960b",
      "name": "Prepare File Metadata"
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Prepare File Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Metadata": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "91yGXoYutFfSwy18",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "8f08afe0-0a4f-40b5-99d1-26086374c4cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9836c68541cd69e2fc9de7f6f3d6a347709b88cb77048e0165e8e7966373ed75"
  },
  "nodeGroups": [],
  "id": "irlE2aGbMjCmkr9i",
  "tags": []
}