workflows/01B - Updated Document Reindexing.json
{
  "name": "01B - Updated Document Reindexing",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1U6hEemx3OzYZPa0Af30PYPItfOzYy1PW",
          "mode": "list",
          "cachedResultName": "Employee Knowledge Base",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1U6hEemx3OzYZPa0Af30PYPItfOzYy1PW"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b74e4030-dfb9-404d-8127-9c835ec11b2d",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JYlan4n9WKS0HAE7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://6a7b1703-557c-4fd1-a810-5b5df14ef9c8.europe-west6-0.gcp.cloud.qdrant.io/collections/company_files/points/delete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIiwic3ViamVjdCI6ImFwaS1rZXk6ODVmYTRiYTYtYWUwMi00NjMzLThkMjQtYjk1MmVmNGQzMWNjIn0.GCRK8zsVxIMRwtvnYFNR6UPl1zs45dR4od4ysprtfBA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"metadata.file_id\",\n        \"match\": {\n          \"value\": \"{{ $json.id }}\"\n        }\n      }\n    ]\n  },\n  \"wait\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "393a4aab-b9f6-4084-96ff-ce075a91e3f9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        432,
        0
      ],
      "id": "a7a40000-5e1e-41de-b8e9-926af330b001",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JYlan4n9WKS0HAE7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "company_files",
          "mode": "list",
          "cachedResultName": "company_files"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        640,
        0
      ],
      "id": "40471e58-f4a1-4774-8c25-e83a1e41c0c1",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "srS61JVnlfmTdCon",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        464,
        208
      ],
      "id": "b18741f2-3b7c-4901-a559-35a11db74d1b",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "eTa5CJ5mikRsAAb2",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "metadata",
                "value": "={\n  \"file_id\": \"{{ $('Google Drive Trigger').item.json.id }}\",\n  \"file_name\": \"{{ $('Google Drive Trigger').item.json.name }}\",\n  \"file_url\": \"https://drive.google.com/file/d/{{ $('Google Drive Trigger').item.json.id }}/view\",\n  \"mime_type\": \"{{ $('Google Drive Trigger').item.json.mimeType }}\",\n  \"last_modified\": \"{{ $('Google Drive Trigger').item.json.modifiedTime }}\",\n  \"source\": \"google_drive\"\n}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        864,
        208
      ],
      "id": "9a0604a5-85ed-4710-98b4-f8ca561d711b",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5cd9808b-7716-43ed-81e7-96ee9594f6be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9836c68541cd69e2fc9de7f6f3d6a347709b88cb77048e0165e8e7966373ed75"
  },
  "nodeGroups": [],
  "id": "ZHbGjdIeekJEI6mY",
  "tags": []
}